<%- include('./includes/html-head.ejs',{title:'Home'}) %>

    <%- include('./includes/header.ejs') %>
        <%- include('./includes/flashMessage.ejs') %>

            <div class="container mt-5 d-flex flex-column align-items-center profile-container">

                <div class="profile-card p-3 position-relative">

                    <div class="d-flex align-items-center inner-card-profile">

                        <div class="image">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg"
                                class="rounded" width="155">
                        </div>

                        <div class="ml-3 w-100 px-3 ">

                            <h4 class="mb-0 mt-0">
                                <%= user.name.toUpperCase() %>
                            </h4>

                            <span>@<%= user.username %></span>

                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                                <div class="d-flex flex-column">

                                    <span class="articles">Pins Posted</span>
                                    <span class="number1">
                                        <%= pins.length %>
                                    </span>

                                </div>

                                <div class="d-flex flex-column">

                                    <span class="followers">Followers</span>
                                    <span class="number2">
                                        <%= user.followers.length %>
                                    </span>

                                </div>


                                <div class="d-flex flex-column">

                                    <span class="rating">Following</span>
                                    <span class="number3">
                                        <%= user.following.length %>
                                    </span>

                                </div>

                            </div>


                            <div class="button mt-2 d-flex flex-row align-items-center gap-2">
                                <% if(currentUser && currentUser._id.equals(user._id)) {%>
                                    <button class="btn btn-sm btn-outline-primary w-100 p-0">
                                        <a class="p-1" href="/<%= currentUser.username %>/edit" style="text-decoration: none; height: 100%; width: 100%;  display: inline-block;">Edit</a>
                                    </button>

                                    <% } else if(currentUser && currentUser.following.some((uid)=>
                                        uid.equals(user._id))) { %>
                                        <button class="btn btn-sm btn-outline-primary w-100 p-0">
                                            <a class="p-1" href="/<%= user.username %>/unfollow" style="text-decoration: none; height: 100%; width: 100%;  display: inline-block;">Unfollow</a>
                                        </button>

                                    <% } else if(currentUser && currentUser.followRequestSent.some((uid)=>
                                        uid.equals(user._id))) { %>
                                        <button class="btn btn-sm btn-outline-primary w-100 p-0">
                                            <a class="p-1" href="/<%= user.username %>/undo" style="text-decoration: none; height: 100%; width: 100%;  display: inline-block;">Requested</a>
                                        </button>

                                    <% } else {%>
                                        <button class="btn btn-sm btn-outline-primary w-100 p-0">
                                            <a class="p-1" href="/<%= user.username %>/follow" style="text-decoration: none; height: 100%; width: 100%;  display: inline-block;">Follow</a>
                                        </button>
                                    <% } %>
                                        
                            <button class="btn btn-sm btn-primary w-100 ml-3" id="shareBtn">Share Profile</button>

                            </div>

                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <%= user.account %>
                                    <span class="visually-hidden">account type</span>
                            </span>
                        </div>

                    </div>
                </div>


                <% if(currentUser && user._id.equals(currentUser._id) && user.email === currentUser.email){ %>
                <div class="see-followers-following-pendingRequest d-grid py-3 mx-4" >
                    <div class="info-box row gap-5">
                        <button style="background-color: transparent; height: fit-content; width: fit-content; border-radius: 10px; border: 0;" class="p-0 col-md-4"><a href="/<%= user.username %>/followers" class="btn btn-dark">See Followers</a></button>
                    <button style="background-color: transparent; height: fit-content; width: fit-content; border-radius: 10px; border: 0;" class="p-0 col-md-4"><a href="/<%= user.username %>/following" class="btn btn-dark">See Following</a></button>
                    <button style="background-color: transparent; height: fit-content; width: fit-content; border-radius: 10px; border: 0;" class="p-0 col-md-4 position-relative"><a href="/<%= user.username %>/pending" class="btn btn-dark ">Pending Requests</a>
                        <% if(user.followRequestRecieved.length != 0){ %>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <%= user.followRequestRecieved.length%>
                                    <span class="visually-hidden">pending follow requests</span>
                            </span></button>
                            <% } %>
                    </div>
                    </div>
                <% } %>


                <% if((currentUser && currentUser._id.equals(user._id)) || user.account==='public' || (currentUser &&
                    currentUser.following.some((following)=> following.equals(user._id)))) { %>
                    <div class="profile-posts-section my-5">
                        <h2>Pins</h2>
                        <hr>

                        <section class="my-4">
                            <div class="cards-container container">
                                <div class="d-flex flex-wrap column-gap-5 justify-content-center cards-container-2">
                                    <% for ( let i=0; i < pins.length ; i++){ %>
                                        <div class="overlay position-relative">
                                            <a href="/pins/<%= pins[i]._id %>">
                                                <div class="profile-card-2 ">
                                                    <img src="<%= pins[i].image.url %>" class="img img-responsive">
                                                    <div class="profile-name">
                                                        <%= pins[i].title %>
                                                    </div>
                                                </div>
                                            </a>

                                            <% if(currentUser && currentUser._id.equals(user._id)) {%>
                                                <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-light p-0  mt-2 " style="display: inline-block !important;">
                                                    <a href="/pins/<%= pins[i]._id %>/edit"><i class="fa-solid fa-pencil btn p-2 btn btn btn-success" style="font-size: 10px;"></i></a>
                                                <span class="visually-hidden">pending follow requests</span>
                                            </span>

                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light p-0  mt-2 ">
                                                <form action="/pins/<%= pins[i]._id %>?_method=DELETE" method="post">
                                                    <button class="btn p-0 m-0" type="submit"><i class="fa-solid fa-trash btn p-2 btn btn btn-danger" style="font-size: 10px;"></i></button></form>
                                                <span class="visually-hidden">pending follow requests</span>
                                            </span>
                                            <% } %>

                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </section>

                    </div>
                    <% } else { %>
                        <center>
                            <h1 class="my-5">
                                <hr>Private Account
                                <hr>
                            </h1>
                        </center>
                        <% } %>

            </div>




            <script>
                const shareBtn = document.getElementById('shareBtn')
                shareBtn.addEventListener('click', event => {

                    // Check for Web Share api support
                    if (navigator.share) {
                        // Browser supports native share api
                        navigator.share({
                            text: 'Visit this profie @<%= user.username%> on pinQuest <Social-media-web-app> Developed By Abhishek xD : ',
                            url: '<%= protocol %>://<%= host %>/<%= user.username %>'
                        }).then(() => {
                            console.log('Thanks for sharing!');
                        })
                            .catch((err) => console.error(err));
                    } else {
                        // Fallback
                        alert("The current browser does not support the share function. Please, manually share the link")
                    }
                });
            </script>

            <%- include('./includes/html-foot.ejs') %>